<header>

  <div class="container"  onmouseover="changeText()">
    <div class="blinking logo-header">{{title}}</div>   
  </div>
  <div class="content1">

    <div class="content">
      <h2>Software Developer.</h2> <br>
      <h4>Ready to create awasome projects and ideas!</h4>
    </div>
    <div class="contact-github">
      <div class="btn"><a href="mailto:leodiazgarcia4050@gmail.com">Email</a></div>
      <div class="btn"><a href="https://github.com/StormNotes" target="_blank">Github</a></div>
    </div>
    
  </div>
</header>

