footer{

    height: auto;
    background: #000000;
    background: linear-gradient(to right, #434343, #000000);
    .footer-copyright{
        color:white;

        a{
            color:whitesmoke;
            padding: 22px;
        }
    }
}