.container{
    display: flex;
    height:100vh;
    width: 80%;
    border:rgba(0, 0, 0, 0.178) solid 0.1px;
    margin: 40px auto;
    padding: 30px;

   .card-container{
       /* background: url('../../assets/images/calc.png') no-repeat; */
       background-size: cover;
       margin: 40px auto;
       border: black solid 1px;
       height: 40%;
       width:40%;


       h1{
         margin: 20px;
       }
       p{
        margin: 15px;
        font-size: 12px;
       };
   }
}
