


$primary-color: #414141;
$secondary-color: #3631318f;
$links:#346cc5;
.card{
  border: 0px;
  background-color: #f0f0f0;
  margin: 50px;  
  .card-body h5{
    color:$primary-color;
  }
  .card-body p{
    color:$secondary-color;
  }
  .card-body a{
    color: $links;
  }
}
