<div class="container">
   <div  class="card-container">
     <img src="{{dict.page1.img}}" alt="">
      <h1><a href="{{dict.page1.url}}"  target="_blank">{{dict.page1.title}}</a></h1>
       <p>{{dict.page1.desc}}</p>
       <p></p>
    </div>
    <div  class="card-container">
        <img src="{{dict.page1.img}}" alt="">
         <h1><a href="{{dict.page1.url}}"  target="_blank">{{dict.page1.title}}</a></h1>
          <p>{{dict.page1.desc}}</p>
          <p></p>
    </div>
</div>

<div class="container">
   <div  class="card-container">
     <img src="{{dict.page1.img}}" alt="">
      <h1><a href="{{dict.page1.url}}"  target="_blank">{{dict.page1.title}}</a></h1>
       <p>{{dict.page1.desc}}</p>
       <p></p>
    </div>
    <div  class="card-container">
        <img src="{{dict.page1.img}}" alt="">
         <h1><a href="{{dict.page1.url}}"  target="_blank">{{dict.page1.title}}</a></h1>
          <p>{{dict.page1.desc}}</p>
          <p></p>
    </div>
</div>
