.container{
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;

    .card-group{
        
        margin: 12px;

        .card{
            border:none;
            margin: 20px;


            img{
                width: 80px;
            }


            .card-body{
                font-size: 10px;
            }
        }
    }
}
