<div class="container">
  

  <div class="card-group">
    <div  class="card">
      <img src="../../assets/images/data.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5>Frontend Developer</h5> <br> <p>Responsive design, editing <br> and full construction of web pages</p><br>
      <p>--Vanilla Html & CSS for sure</p>
      <p>--Angular !</p>
      <p>--React too !</p>
      <p>--SCSS/SASS/LESS</p>
      <p>--JavaScript</p>
      <p>--And yes git too!</p>
      </div>
    </div>
    <div  class="card">
      <img src="../../assets/images/console.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5>Videogame developer</h5> <br> <p>Unity and Godot are a hobby for me ! </p><br>
        <p>--Usage of Godot Engine and so Unity !</p>
        <p>--C# and Gscript </p>
        <p>  {{vgd}} </p>
      </div>
    </div>
    <div  class="card">
      <img src="../../assets/images/calendar.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5>Requests on time</h5> <br>  <p> Projects always delivered on time</p>
      </div>
      </div>
    </div>
  </div>

