<div class="container">
    <div class='cards'><img src="../../assets/images/data.png" alt="">
    <h5>frontend Development</h5> <br> <p>Responsive design, editing <br> and full construction of web pages</p>
    </div>
    <div class='cards'><img src="../../assets/images/console.png" alt="">
    <h5>Videogame development</h5> <br> <p>Unity and Godot are a hobby for me ! </p>
    </div>
    <div class='cards'><img src="../../assets/images/calendar.png" alt="">
    <h5>Requests on time</h5> <br>  <p> Projects always delivered on time</p>
    </div>

</div>